<div class="row">
  <div class="col-xl-3 col-md-12 col-sm-12" style="background-color:light; border:0px solid">
    <div class="card" style="width: 18rem;">
      <%= image_tag("photos/photo.JPG", class: 'card-img-top') %>
      <div class="card-body">
        <p class="card-text">
          Email: siminghe@seas.upenn.edu
        </p>
        <p class="card-text">
          LinkedIn: <a href="https://www.linkedin.com/in/siming-he-b978981a2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BywhtrWhaSjG%2FFDZ7A5Uofg%3D%3D">Siming He</a>
        </p>
        <p class="card-text">
          Phone Number: +86 13991129959
        </p>
        <p class="card-text">
          Address: 3465 Sansom Street <br> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Philadelphia, PA 19104
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-md-12 col-sm-12" style="background-color:light; border:0px solid">
    <h1>Siming He</h1>
    <h2>Researcher, Developer, Student @PennCIS</h2>
    <p><strong>&nbsp;</strong></p>
    <h3><p><strong>Resume</strong></p></h3>
    <embed src="/Resume_12_22_2020.pdf" width="800px" height="1050px" />
    <%#
    <p><strong>&nbsp;</strong></p>
    <h3><p><strong>EDUCATION</strong></p></h3>
    <p><strong>University of Pennsylvania</strong> | School of Engineering and Applied Science | Philadelphia, PA | <em>May 2024</em>
    <br><em>Candidate for Bachelor of Science in Engineering in Computer and Information Science</em>
    <br><em>Relevant Courses:</em> Calculus I, Programming Languages &amp; Techniques*, Math Foundation of Computer Science*, Ruby on Rails*</p>
    <p><strong>Ridley College </strong>| St. Catharines, Ontario, Canada | <em>June 2020</em>
    <br><em>Honors</em>: Student with Best Academic Performance (2018<em> &ndash; </em>2020)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Cumulative GPA:</em> 4.0 / 4.0
    <br><em>Relevant Courses: </em>IB Computer Science HL</p>
    <p>&nbsp;</p>
    <h3><p><strong>TECHNICAL SKILLS</strong></p></h3>
    <p><strong>Experienced Programmer </strong>(Java, Python, Ruby, OCaml, C++, GNU Octave, HTML, CSS, JavaScript)
    <ul>
    <li>Specialized in using APIs and libraries (Java Swing, JDBC, NumPy, TensorFlow, scikit-learn, Matplotlib, Ruby on Rails)</li>
    <li>Designed and programmed five applications for different clients</li>
    <li>Collected and analyzed various data using machine learning</li>
    </ul>
    </p>
    <p>&nbsp;</p>
    <h3><p><strong>RELEVANT EXPERIENCES</strong></p></h3>
    <p><strong>Oakville Immigration &amp; Education Consulting Inc.</strong>, <em>Software Developer</em> | St. Catharines, Canada | <em>June 2020 &ndash; July 2020</em></p>
    <ul>
    <li>Studied WeChat Mini Program Development Framework (WXML, WXSS, JavaScript)</li>
    <li>Developed a program to assess and score clients' profile for skilled immigration</li>
    </ul>
    <p><strong>Independent Developer</strong>, <em>Software Developer</em> | St. Catharines, Canada | <em>September 2019 &ndash; February 2020</em></p>
    <ul>
    <li>Communicated with a client and proposed solutions to client's requirements</li>
    <li>Designed database, UML diagram, GUI by using OmniGraffle, Adobe Illustrator, and Photoshop</li>
    <li>Developed an algorithmic trading application using Java</li>
    <li>Gained client's comment of "a useful and impressive tool"</li>
    </ul>
    <p><strong>Independent Developer</strong>, <em>Game Designer</em> | St. Catharines, Canada | <em>January 2018 &ndash; May 2018</em></p>
    <ul>
    <li>Programmed a 2D platform game using Python and Pygame</li>
    </ul>
    <p><strong>Pinan Medical and Healthcare Management Co., Ltd</strong>, <em>Data Analyst Intern </em>| Shanghai, China |<em>&nbsp;July 2017 &ndash; August 2017</em></p>
    <ul>
    <li>Contributed to an analysis of millions of records of patient data in a 3-member team</li>
    </ul>
    <p><strong>&nbsp;</strong></p>
    <h3><p><strong>LEADERSHIP &amp; EXTRACURRICULAR ACTIVITIES</strong></p></h3>
    <p><strong>Access Engineering</strong>, <em>Teacher </em>| Remote | <em>September 2020 &ndash; Present</em></p>
    <ul>
    <li>Planned lessons on web development and taught 20 high school students</li>
    </ul>
    <p><strong>Ridley College Student Union</strong>, <em>Prefect</em> | St. Catharines, Canada | <em>September 2019 &ndash; June 2020</em></p>
    <ul>
    <li>Collaborated in a 10-member prefect team</li>
    <li>Organized school activities to promote spirits and well-being of school community</li>
    <li>Delivered prefect speech to 500 students and faculties</li>
    </ul>
    <p><strong>Ridley College VEX Robotics</strong>, <em>Lead </em><em>Programmer &amp; Team Captain</em> | St. Catharines, Canada | <em>September 2017 &ndash; January 2020</em></p>
    <ul>
    <li>Tutored 3 programmers in VEX programming</li>
    <li>Led a team of 3 builders to build and program multi-functional robots for competition</li>
    </ul>
    <p><strong>&nbsp;</strong></p>
    <h3><p><strong>RESEARCH</strong></p></h3>
    <p><strong>Cambridge Center for International Research</strong>, <em>Researcher </em>| Remote <em>June 2020 &ndash; August 2020</em></p>
    <ul>
    <li>Learned Philosophy in Business: Corporate Responsibility, Strategy, and Ethics from a Cambridge professor</li>
    <li>Wrote and published "Impact of Blockchain Applications on Trust in Business" in iBusiness Journal</li>
    </ul>
    <p><strong>Independent Research</strong>, <em>Artificial Intelligence Researcher</em> | St. Catharines, Canada | <em>January 2019 &ndash; December 2019</em></p>
    <ul>
    <li>Adapted OpenPose and developed an LSTM neural network that translates videos of sign language into text</li>
    <li>Wrote a research paper that will be in a publication by The International Press of Boston</li>
    <li>Awarded US regional finalist of the 2019 S.-T. Yau High School Science Award</li>
    </ul>
    %>
  </div>
</div>
