<div class="row">
  <div class="col-xl-3 col-md-12 col-sm-12" style="background-color:light; border:0px solid">
    <div class="card" style="width: 18rem;">
      <%= image_tag("photos/photo.JPG", class: 'card-img-top') %>
      <div class="card-body">
        <p class="card-text">
          Email: siming@upenn.edu
        </p>
        <p class="card-text">
          Instagram: siming_he
        </p>
        <p class="card-text">
          Github: siming_he
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-md-12 col-sm-12" style="background-color:light; border:0px solid">
    <h1>Siming He</h1>
    <h2>Researcher, Developer, Student @PennCIS</h2>
    <p>
      I'm Siming He, currently at University of Zoom, Pennsylvania.
    </p>
    <p>
      Հայտնի է, որ ընթերցողը, կարդալով հասկանալի տեքստ, չի կարողանա կենտրոնանալ տեքստի ձևավորման վրա: Lorem Ipsum օգտագործելը բացատրվում է նրանով, որ այն բաշխում է բառերը քիչ թե շատ իրականի նման, ի տարբերություն «Բովանդակություն, բովանդակություն» սովորական կրկննության, ինչը ընթերցողի համար հասկանալի է: Շատ համակարգչային տպագրական ծրագրեր և ինտերնետային էջերի խմբագրիչներ այն օգտագործում են որպես իրենց ստանդարտ տեքստային մոդել, և հետևապես, ինտերնետում Lorem Ipsum-ի որոնման արդյունքում կարելի է հայտնաբերել էջեր, որոնք դեռ նոր են կերտվում: Ժամանակի ընթացքում ձևավորվել են Lorem Ipsum-ի տարբեր վերսիաներ` երբեմն ներառելով պատահական տեքստեր, երբեմն էլ հատուկ իմաստ (հումոր և նմանատիպ բովանդակություն)
    </p>
  </div>
</div>
